.user {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    padding: 100px;

}
.user__Tlogin{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.user__title{
    color: darkgray;
}
.user__title--pass{
    margin-top: 20px;
}

.user__input{
    border: solid black 1px;
    padding: 10px 80px;
}

.user__login{
    margin-top: 50px;
    width: 100px;
    height: 25px;
    text-align: center;
}

.user__error{
    color: red;
}

.logout{
    width: 80px;
    height: 30px;
    position: absolute;
    top: 400px;
    left: 485px;
}