footer {
	background-color: #281e1e;
	padding: 100px 0;
	color: #fff;
	h1 {
		margin-bottom: 30px;
		color: #e94560;
		font-weight: 800;
		font-style: italic;
	}
	.img {
		background-color: #ff0000;
		padding: 15px 20px;
		border-radius: 5px;
		i {
			font-size: 20px;
			margin: 5px;
		}
		span {
			margin-top: 5px;
		}
	}
	p {
		font-size: 14px;
		font-weight: 300;
		opacity: 0.5;
		margin-bottom: 20px;
	}
	h2 {
		margin-bottom: 20px;
	}
	li {
		margin-bottom: 10px;
		opacity: 0.5;
	}
}
